<!DOCTYPE html>
<html lang="ko">

<head>
  <meta charset="utf-8" />
  <title>KHU:NECT</title>
  <link rel="stylesheet" type="text/css" href="../static/main.css">
  <link href="https://fonts.googleapis.com/css?family=Noto+Sans+KR:400,700&amp;subset=korean" rel="stylesheet">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script>
    function onEnterLogin() {
      var KeyCode = windows.event.keyCode;
      if (keyCode == 13) {
        loginForm.submit();
      }
    }
    $(document).ready(function(){
        $('#loginButton').click(function(){
            let form=$('#loginForm')[0];
            let formData=new FormData(form);
            $.ajax({
                type:'POST',
                url:'/login',
                data:formData,
                enctype:'multipart/form-data',
                processData:false,
                contentType:false,
                success: function(result){
                    alert('로그인 성공!!')
                },
                error: function(err){
                    alert('로그인 실패!!')
                }
            })
        })
    })
  </script>
  <style>
    div 
    {
      font-family: 'Noto Sans KR', sans-serif;
    }
  </style>
</head>

<body>
  <div id="top-layer_fixed">
    <table cellspacing="0" cellpadding="0" style="width:100%; height:100%;">
      <tr>
        <td style="vertical-align:middle; padding-left: 200px; padding-right: 220px;">
          <a href="/main"><img src="../static/logo.png" height=45% /></a>
        </td>
        <td>
          <div class="menubar">
            <ul>
              <li><a id="current" style="font-size:16px;font-weight: bold;">내 수업</a>
                <ul>
                  <% for(let i=0;i<Lecture.length;i++){%>
                  <li><a href="/myclass/<%=Lecture[i].Lecture%>"><%=Lecture[i].title%></a></li>
                  <%}%>
                </ul>
              </li>
              <li><a id="current" style="font-size:16px;font-weight: bold;">함께해요</a>
                <ul>
                  <li><a href="/study">스터디</a></li>
                  <li><a href="/hobby">취미</a></li>
                </ul>
              </li>
              <li><a id="current" style="font-size:16px;font-weight: bold;">홍보</a>
                <ul>
                  <li><a href="/alba">알바</a></li>
                  <li><a href="/club">동아리</a></li>
                  <li><a href="/contest">공모전</a></li>
                </ul>
              </li>
              <li><a id="current" style="font-size:16px;font-weight: bold;">거래</a>
                <ul>
                  <li><a href="/market">거래</a></li>
                  <li><a href="/gonggu">공구</a></li>
                </ul>
              </li>
            </ul>
          </div>
        </td>
      </tr>
    </table>
  </div>

  <div id="main_banner">

  </div>
  <!--
  <div id="menu_bar">
    <div id="inner_menu_bar">
      <table>
        <tr>
          <td>
            자유게시판
          </td>
          <td>
            자유게시판
          </td>
          <td>
            자유게시판
          </td>
        </tr>
        <tr>
          <td>
            자유게시판
          </td>
          <td>
            자유게시판
          </td>
          <td>
            자유게시판
          </td>
        </tr>
      </table>
    </div>
  </div>
-->

  <div id="bulletin_board">
    <div id="section_1" style="float:left">
      <div id="profile">
        <div style="text-align: center; margin-bottom:0px;">
          <img src="../static/logo.png" height=20px style="margin-top:65px;"/>
        </div>
        <%if(!nickname){%>
        <div style="margin-left:11px;margin-right:11px;">
          <form id="loginForm">
            <input type="text" name="userId" placeholder="아이디" style="width:100%;color:rgb(71,71,71);">
            <input type="password" name="password" placeholder="비밀번호" style="width:100%;color:rgb(71,71,71); margin-bottom: 4px;"
              onkeydown="javascript:onEnterLogin()"><br>
            <input type="button" id="loginButton" value="로그인" style="margin-left:32%;">
          </form>
        </div>
        <div style="text-align:center;">
          <a href="/signup" style="font-size:x-small;">회원가입</a>
          <a style="font-size:x-small; margin:0 auto;">&nbsp/&nbsp</a>
          <a href="/findID" style="font-size:x-small;">ID찾기</a>
          <a style="font-size:x-small; margin:0 auto;">&nbsp/&nbsp</a>
          <a href="/findPW" style="font-size:x-small;">PW찾기</a>
        </div>
        <%} else { %>
        <div style="margin:0 auto; margin-left:30px;">
          <img src="<%=resizedImage%>" width=120px >
        </div>
        <div style="text-align:center;">
          <a href="#" style="font-weight:bold;"><%=nickname%></a><a>님 환영합니다!</a>
          <form action="/logout" method="post">
          <input type="submit" value="로그아웃">
          </form>
        </div>
        <%}%>
      </div>

      <div id="my_menu">
        전체 메뉴를 위한 공간인지 아님 광고 공간인지는 모르겠지만, 광고만 주신다면 광고를 넣어드리겠습니다.
      </div>
    </div>
    <div id="section_2" style="float:left">
      <div id="board_2" style="float:left; margin-left:60px">
        <table id="board_table">
          <tr id="board_table_maintr">
            <td id="board_table_td"><a style="color: rgb(164, 15, 22);">뜨거운 게시물</a></td>
          </tr>
          <% let i=0 %>
          <% for (i=0;i<hotPost.length && i<5;i++) {%>
          <tr id="board_table_tr">
            <td id="board_table_td">
              <a href="/<%=hotPost[i].boardId%>" style="font-weight: bold;">[<%=hotPost[i].boardName%>]</a>
              <a href="#"><%=hotPost[i].title%></a>
            </td>
          </tr>
          <%}%>
          <% if(i!=5) { %>
          <% for (;i<5;i++) { %>
          <tr id="board_table_tr"><td id="board_table_td"><a style="color:#eaeaea;">empty row</a></td></tr>
          <% }%>
          <% }%>

        </table>
      </div>

      <div id="board_2" style="float:left; margin-left:80px">
        <table id="board_table">
          <tr id="board_table_maintr">
            <td id="board_table_td"><a style="color: rgb(164, 15, 22);">내 수업 최신 게시물</a></td>
          </tr>
          <%for(i=0;i<newLecturePost.length && i<5;i++){%>
          <tr id="board_table_tr">
            <td id="board_table_td">
              <a href="/<%=newLecturePost[i].lecture.lectureId%>" style="font-weight: bold;">[<%=newLecturePost[i].lecture.title%>]</a>
              <a href="#"><%=newLecturePost[i].title%></a>
            </td>
          </tr>
          <%}%>
          <% if(i!=5) { %>
          <% for (;i<5;i++) { %>
          <tr id="board_table_tr"><td id="board_table_td"><a style="color:#eaeaea;">empty row</a></td></tr>
          <% }%>
          <% }%>
        </table>
      </div>

      <div id="board_3" style="float:left">
        <table id="board_table">
          <tr id="board_table_maintr">
            <td id="board_table_td"><a style="color: rgb(164, 15, 22);">장터 게시판</a></td>
          </tr>
          <%for(i=0;i<newMarketPost.length && i<5;i++){%>
          <tr id="board_table_tr">
            <td id="board_table_td">
              <a style="font-weight: bold;">[<%=newMarketPost[i].tag%>]</a>
              <a href="#"><%=newMarketPost[i].title%></a>
            </td>
          </tr>
          <%}%>
          <% if(i!=5) { %>
          <% for (;i<5;i++) { %>
          <tr id="board_table_tr"><td id="board_table_td"><a style="color:#eaeaea;">empty row</a></td></tr>
          <% }%>
          <% }%>
        </table>
      </div>
      <div id="board_3" style="float:left">
        <table id="board_table">
          <tr id="board_table_maintr">
            <td id="board_table_td"><a style="color: rgb(164, 15, 22);">아르바이트</a></td>
          </tr>
          <%for(i=0;i<newAlbaPost.length && i<5;i++){%>
          <tr id="board_table_tr">
            <td id="board_table_td">
              <a style="font-weight: bold;">[<%=newAlbaPost[i].tag%>]</a>
              <a href="#"><%=newAlbaPost[i].title%></a>
            </td>
          </tr>
          <%}%>
          <% if(i!=5) { %>
          <% for (;i<5;i++) { %>
          <tr id="board_table_tr"><td id="board_table_td"><a style="color:#eaeaea;">empty row</a></td></tr>
          <% }%>
          <% }%>
        </table>
      </div>
      <div id="board_3" style="float:left">
        <table id="board_table">
          <tr id="board_table_maintr">
            <td id="board_table_td"><a style="color: rgb(164, 15, 22);">최신 게시물</a></td>
          </tr>
          <% for (i=0;i<newPost.length && i<5;i++) {%>
          <tr id="board_table_tr">
            <td id="board_table_td">
              <a href="/<%=newPost[i].boardId%>" style="font-weight: bold;">[<%=newPost[i].boardName%>]</a>
              <a href="#"><%=newPost[i].title%></a>
            </td>
          </tr>
          <%}%>
          <% if(i!=5) { %>
          <% for (;i<5;i++) { %>
          <tr id="board_table_tr"><td id="board_table_td"><a style="color:#eaeaea;">empty row</a></td></tr>
          <% }%>
          <% }%>
        </table>
      </div>
    </div>
  </div>
  </div>
  </div>
</body>

</html>